<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs | UGUR KUREKCI</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .red {
            background-color: red;
        }

        .green {
            background-color: limegreen;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
        <hr>
        <div v-for="(value,key) in personel">{{key +" "+ value}} </div>
        <hr>
        <ul>
            <li v-for="item in personelList" v-if="item.status==true">{{item.name +" "+item.surname+""+item.email}}
                <button @click="item.status=false">Ayrıldı</button>
            </li>

            <hr>

            <li v-for="item in personelList" :class="backgroundByStatus(item)">{{item.name
                +" "+item.surname+""+item.email}}
                <button @click="item.status=false">Ayrıldı</button>
            </li>
        </ul>


    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                list: ["Armut", "Elma", "Fındık", "Fıstık"],
                personel: {
                    name: "Uğur",
                    surname: "Kurekci",
                    email: "ugurkurekci98@gmail.com",
                    status: false
                },
                personelList: [
                    {
                        name: "Uğur",
                        surname: "Kurekci",
                        email: "ugurkurekci98@gmail.com",
                        status: true

                    },
                    {
                        name: "Demir",
                        surname: "example",
                        email: "demirexample@gmail.com",
                        status: true

                    },
                    {
                        name: "Sehit",
                        surname: "example",
                        email: "sehitexample@gmail.com",
                        status: false

                    },
                    {
                        name: "Riza",
                        surname: "example",
                        email: "rizaexample@gmail.com",
                        status: true

                    },

                ]
            },
            methods: {
                backgroundByStatus(item) {
                    return { 'green': item.status == true, 'red': item.status == false }
                }
            }

        });
    </script>
</body>

</html>